<div class="media" style="padding: 5px;">
	<% if message.user != current_user %>
		<div class="media-left">
			<%= render_user_avatar_of(current_user, "30x30", "media-object") %>
		</div>
		<div class="media-body">
			<%= message.content %>
		</div>
	<% else %>
 		<div class="media-body" style="text-align: right;">
			<%= message.content %>
		</div>
		<div class="media-right">
			<%= render_user_avatar_of(current_user, "30x30", "media-object") %>
		</div>
	<% end %>
</div>