<div class="media" style="padding: 5px;">
		<div class="media-left">
			<img src="http://via.placeholder.com/30x30" alt="" class="media-object">
		</div>
		<div class="media-body">
			<%= message.content %>
		</div>
		<div class="media-right">
			<img src="http://via.placeholder.com/30x30" alt="" class="media-object">
		</div>
</div>