<div class="media" style="padding: 5px;">
		<div class="media-left">
			<%= render_user_avatar_of(message.user, "30x30", "media-object") %>
		</div>
		<div class="media-body">
			<%= message.content %>
		</div>
		<div class="media-right">
			<%= render_user_avatar_of(message.user, "30x30", "media-object") %>
		</div>
</div>