<div class="row text-center">
	<span>Search</span>
</div>
<div class="row">
	<ul class="nav nav-pills nav-stacked">
		<% (User.all - [current_user]).each do |user| %>
			<li>
				<%= link_to direct_message_path(user.id), data: {behavior: "chatroom-link", chatroom_id: Chatroom.direct_message_for_users([current_user, user]).id } do %>
					<img src="http://via.placeholder.com/30x30" alt="">
					<%= user.username %>
				<% end %>
				
			</li>
		<% end %>
	</ul>
</div>