
<h5>添加联系人</h5>

<div>
<div class="input-group">
	<input type="text" class="form-control" placeholder="可输入用户名、邮箱进行搜索">
	<span class="input-group-btn">
		<%= link_to "搜索", "#", class: "btn btn-default" %>
	</span>
</div>
</div>