<div id="contact-show-container">

	<div class="media">
		<div class="media-body">
			<%= @friend.username %>
		</div>
		<div class="media-right">
			<img src="http://via.placeholder.com/64x64" alt="" class="media-object">
		</div>
	</div>

	<hr>
	
	<table class="user-detail-table">
		<tr>
			<th>Email: </th>
			<td><%= @friend.email %></td>
		</tr>
	</table>
	
	<div class="user-interactive-container">
		<div class="btn-group" id="start-talking-btn">
			<%= link_to "开始聊天", Chatroom.direct_message_for_users([current_user, @friend]), class:"btn btn-success btn-sm" %>
		</div>

		<div class="btn-group" id="defriend-btn">
			<%= link_to "解除好友关系", defriend_request_contact_path(id: @friend.id), method: :post, class: "btn btn-danger btn-xs" %>
		</div>
	</div>

</div>