/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';




// weichat container
.weichat-container {
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    overflow: hidden;
    padding: 0px;
    margin-top: 50px;
}


// Sidebar
.weichat-sidebar {
	background-color: rgba(38, 38, 38, 1.00);
	height: 100%;

	#sidebar-header {
		color: rgba(125, 125, 125, 1.00);
	}

	#sidebar-username {
		color: rgba(125, 125, 125, 1.00);
	}

	#chatrooms-side-btn, #contacts-side-btn {
		a {
			padding: 10px 5px;
		}

		a:hover {
			background-color: transparent;
		}
	}

	#signin-button, #signup-button {
		color: rgba(125, 125, 125, 1.00);
		padding-left: 0;
		padding-right: 0;

		&:hover {
			background-color: transparent;
			color: RGBA(24, 182, 29, 1.00);
		}
	}

	#logout-button {
		position: absolute;
		bottom: 20px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		text-decoration: none;
		color: rgba(125, 125, 125, 1.00);
	}
}

.chatroom-list {
	height: 90%;
	overflow: auto;
}

#friend-list-container {
	height: 90%;
	overflow: auto;
}

// user sign in/up

@mixin transform($translate) {
	-webkit-transform: $translate;
	transform: $translate;
}

#user_sign_container {
	position: relative;
	height: 100%;
	background-color: RGBA(0, 247, 121, 0.05);

	.panel {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		
		.field {
			margin-bottom: 5px;
		}

		.form-control {
			height: 25px; 
			width: 70%;
		}
	}
}

// contact search

#friend-search-head {
	padding-top: 10px;
	padding-bottom: 8px;
	background-color: RGBA(239, 239, 239, 1.00);

	#search-friends-field {
		height: 20px;
		border-radius: 3px;
		border: 0.5px solid RGBA(208, 208, 208, 1.00);
		background-color: RGBA(225, 225, 225, 1.00);
	}

	#add_new_friend_btn {
		background-color: RGBA(255, 255, 255, 1.00);
		border: 0.5px solid RGBA(229, 229, 229, 1.00);
		margin-left: 10px;
		height: 18px;
		padding-bottom: 10px;
		margin-bottom: 3px;
	}
}

// Conatact List

#friend-list-container {
	.friend-list-cell {
		border-bottom: 0.5px solid RGBA(218, 218, 218, 1.00);
		background-color: RGBA(230, 230, 230, 1.00);
		margin: 0;

		.media-heading {
			color: RGBA(39, 39, 39, 1.00);	
		}
		
	}
}

// chatroom search

#chatroom-search-head {
	padding-top: 10px;
	padding-bottom: 8px;
	background-color: RGBA(239, 239, 239, 1.00);

	#search-chatrooms-field {
		height: 20px;
		border-radius: 3px;
		border: 0.5px solid RGBA(208, 208, 208, 1.00);
		background-color: RGBA(225, 225, 225, 1.00);
	}

	#create_new_chatroom_btn {
		background-color: RGBA(255, 255, 255, 1.00);
		border: 0.5px solid RGBA(229, 229, 229, 1.00);
		margin-left: 10px;
		height: 18px;
		padding-bottom: 10px;
		margin-bottom: 3px;
	}
}

// Chatroom list
.chatroom-list {
	.chatroom-list-cell {
		border-bottom: 0.5px solid RGBA(218, 218, 218, 1.00);
		background-color: RGBA(230, 230, 230, 1.00);
		margin: 0;
		
		.media-heading {
			color: RGBA(39, 39, 39, 1.00);	
		}

		.media-body {
			color: RGBA(179, 179, 179, 1.00);
		}
		
		.media-subtitle {
			font-size: 70%;
			width: 130px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

	}
}

// Strike line
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: red;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}